

.App{
    min-height: 100vh;
    background: #35363A;
  }
  
  .search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar{
    width: 50%;
    border: none;
    padding: 10px;
    background: #cccccc;
  }
  
  .search-button{
    background: #1E1E1E;
    border: none;
    padding: 10px 20px;
    color: #cccccc;
  }

  p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cccccc;
  }
  
  .recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  